body {
    margin: 0 0;
    font-family: "Roboto", sans-serif;
    background-image: url(../images/backcover.svg);
    background-repeat: no-repeat;
    background-position: 120% 0;
    background-size: 60% 90%
}

.main-div {
    margin-top: 0;
    margin-left: 40px;
}

.main-div nav button {
    margin-top: 0;
}

/* Navbar____________________________________ */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}

.nav-items {
    display: flex;
    gap: 7vh;
}

.nav-item {
    font-size: 1rem;
    color: #222d82;
}

.signin-btn {
    margin-right: 3vh;
    padding: 10px 5px;
    
    font-size: 1rem;
    border-radius: 25%;
    font-weight: bolder;
    color: aliceblue;
    border-style: none;
    background: linear-gradient(to right, rgb(196, 68, 224), rgb(231, 164, 235));
}

/* intro-section______________________________ */
.intro-section {
    display: flex;
    justify-content: space-between;
}

/* Left section_______________________________ */
.left-section {
    margin-top: 10vh;
}

.left-section h1 {
    font-weight: 800;
    font-size: 5rem;
    color: #222d82;
}

.left-section h4 {
    width: 500px;
    font-weight: 400;
    color: #551371;
    font-size: 1.5rem;
}

.learn-more-btn {
    padding: 15px 40px;
    font-size: 1.25rem;
    margin-top: 5vh;
    border-radius: 50px;
    font-weight: bolder;
    color: aliceblue;
    border-style: none;
    background: linear-gradient(to right, rgb(196, 68, 224), rgb(231, 164, 235));
}

/* imgs-div __________________________________ */
.imgs-div {
    display: flex;
    justify-content: space-around;
}

[alt="intro-img"] {
    width: 120vh;
}

[alt^="vector"] {
    position: relative;
}

[alt="vector-img"] {
    top: 15vh;
    left: 13.5vh;
}

[alt="vector-dot"] {
    top: 8vh;
    left: 8vh;
}

/* --------------------------------------Mobile------------- */
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    body {
        background-color: #824d22;
    }
    [alt="logo"]{
        width: 15vw;
        margin-right: 4%;
    }
}


/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1224px) {
    body {
        background-color: #228247;
        background-position: ;
        background-size: 80% 70%;
    }
    [alt="logo"]{
        width: 15vw;
        margin-right: 4%;
    }
    .left-section h1{
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .left-section h4{
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    [alt='intro-img']{
        width: 70%;
    }
    .intro-section{
        flex-direction: column-reverse;
    }
    div .left-section{
        margin-top: 10px;
        margin-bottom: 0;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 768px)  {
    body {
        background-color: #82224c;
    }
    nav{
        align-items: center;
    }
    [alt="logo"]{
        width: 15vw;
        margin-right: 4%;
    }
    .signin-btn{
        font-size: 0.8em;
        padding: 10px;
        margin-left: 1%;
    }
    .nav-items{
        gap: 4%;
        font-size: 0.4rem;
    }
    .intro-section{
        flex-direction: column-reverse;
    }
    div .left-section{
        margin-top: 10px;
        margin-bottom: 0;
    }
    .left-section h1{
        font-size: 3rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    .left-section h4{
        font-size: 1rem;
        margin-bottom: 0;
        margin-top: 0;
    }
    [alt='intro-img']{
        width: 70%;
    }
    body{
        background-position: 100% -110%;;
        background-size: 60% 80%;
    }
}