.container nav div{
    float: left;
    margin-top: 20px;
    margin-left: 100px;
}
[alt="brand-logo"]{    
    margin-right: 20pxpx;
}
.grow-list ul li{
    float: left;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
    opacity: 0.6;
}
.grow-list ul li:nth-of-type(1){
    font-weight: bold;
    opacity: 1;
}
.container .button-group .nav-button{
    padding: 10px 20px;
    background: #383CC1;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
    margin-left: 300px;  
}
section .banner-container div{
    clear: both;
    float: left;
    margin-top: 40px;
    margin-left: 100px;
}
section .banner-container div h1{
    float: left;
    text-align: left;
    color:#060720 ;
}
section .banner-container div h1 span{
    color: #32369f;
}
section .banner-container div p{
    clear: both;
}
section .banner-container div button{
    padding: 20px 40px;
    background: #383CC1;
    color: #ffffff;
    border-radius: 5px;
    border-style: none;
}
.description{
    text-align: left;
    width: 320px;
}

.heading-text{
    font-size: 5rem;
    text-align: left;
    width: 450px;
    
}
.banner-container div img{
    clear: both;
    position: absolute;
    right: 0px;
    top: 100px;
    
}
